body {
    font-family: 'Montserrat', sans-serif;
}


/* heading CSS */
h3 {
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.5;
}

h2 {
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 800;
}
/* paragraph styling */
p {
    color: #8f8f8f;
}

/* download buttons */
.download-btn, .cta-download {
    margin: 5% 3% 5% 0;
}

/* sections */
.colored-section {
    background-color: #ff4c68;
    color: #fff;
}

.white-section {
    background-color: #fff;
}


/* title section of the HTML document */
#title-heading {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}

.container-fluid {
    padding: 3% 15% 7%;
}

/* navigation bar */
.navbar{
    padding:0 0 4.5rem 0;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: lighter;
}

/* title image */
.title-image {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%; 
}

/* features section */
#features {
    padding: 7% 15%;
    position: relative;
    z-index: 1;
}

.feature-box {
    text-align: center;
    padding: 5%;
}

.feature-icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.feature-icon:hover{
    cursor: pointer;
    color: #ff4c68;
}

/* testimonial */
#testimonials {
    text-align: center;
    background-color: #ef8172;
}

.carousel-item {
    padding: 7% 15%;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

/* press section */
#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-image {
    width: 15%;
    margin: 20px 20px 50px 20px;
}

/* the press section and the testimonial section is merged together. */

/* pricing section */
#pricing {
    padding: 100px;
    text-align: center;
}

.pricing-col {
    padding: 3% 2%;
}

/* call for action */
#cta {
    padding: 7% 15%;
    text-align: center;
}

#cta h3 {
    font-size: 3.8rem;
    font-weight: bolder;
}

/* footer section */
#footer {
    padding: 7% 15%;
    text-align: center;
}

.social-icon {
    margin: 20px 10px;
}

/* responsiveness - mobile*/
@media (max-width : 1028px) {

    #title {
        text-align: center;
    }

    .title-image {
        position: static;
        transform: rotate(0deg);
    }

}


